html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script(src="https://kit.fontawesome.com/933566eaa2.js" crossorigin="anonymous")
        title #{pageTitle} | TerryPotter's Profile
    body 
        block content