extends layout 
block content
    div
        img(src="https://static.coupangcdn.com/image/vendor_inventory/bb62/c04b6abeedbc81b4d391e95bd45e92745a9f438d00bc43d4ebb62aa5cb70.jpg", height="100px",width="100px   " ) 
        h2 Terrypotter
        a(href="/detail/",id="shortDiscription") Short Discription
        ul 
            li 
                i.fab.fa-facebook  
                span Facebook Link 
            li 
                i.fab.fa-instagram 
                span Instagram Link 
            li 
                i.fas.fa-blog 
                span Naver Link 
            li
                i.fas.fa-blogger 
                span Tistory Link 
    div 
        div
            div
                span Full Name 
            div 
                span Email 
            div 
                span Phone 
            div 
                span Address  
        div
            div
                a(href="/detail/coding") 코딩으로문
            div 
                a(href="/detail/civil") 사환으로문
            div 
                a(href="/detail/travel") 여행으로문
            div 
                a(href="/detail/teacher") 선생으로문
    